html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0; }
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
img{vertical-align:middle;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer; border: 0 none; outline: none;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none; background: transparent;}
body,textarea,input,button,select,keygen,legend{font:1em/1.125em arial,"微软雅黑",helvetica;color:#000;outline:0; -webkit-text-size-adjust:none;}
img{width: 100%; display: block;}
a,a:hover{color:#333;}
html,body {width: 100%; height: 100%; max-width: 750px; margin: 0 auto; background-color: #fdf8f4;-webkit-tap-highlight-color: none;-webkit-overflow-scrolling: touch;}
.hide {display: none;}
.ab{position: absolute;}

.game{
  width: 100%;
  height: 100%;
  background: url('../img/game.jpg') center center no-repeat;
  background-clip: content-box;
  background-size: 100% 100%;
}
.warp{
  width: 30%;
  margin: 1% auto;
}
.nowcount{
  width: 8%;
  height: 3%;
  top: 5%;
  left: 55%;
  font-size: 1rem;
  color: #fff;
  line-height: 1.5rem;
}
.gameWarp{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}
.gameWarp .bottle{
  width: 40%;
  position: absolute;
  bottom: 2%;
  left: 30%;
}
.gameWarp .pot{
  width: 40%;
  height: 3px;
  position: absolute;
  bottom: 17%;
  left: 30%;
  z-index: 500;
}